// -----variables declaration---- 
$font-stack: Helvetica, sans-serif;
$light-green: #81c784; 
$dark-green: #519657; 
$dark-grey: #424242; 
$dark-black: #1b1b1b; 
$dull-white: rgba(255,255,255,.6); 
$font-size: 10px; 



//------ mixins styling--------
@mixin font-style ($color:$dull-white){
  color: $color; 
  font-size: $font-size;
  letter-spacing: 2px; 
}

@mixin form-style {
  background: $dark-black; 
  margin-bottom: 10px; 
  border: none; 
  outline: none; 
  padding: 10px; 
  @include font-style; 
}

@mixin horizontal-style {
  width: 95%;
  border-bottom: 1px $dull-white;
}


// ------element styling------
body {
  font: 100% $font-stack;
  color: $dull-white; 
}



div.container{

  width: 80%; 
  max-width: 800px; 
  margin: auto; 

  header{
    background: $dark-black;
    padding: 10px 0;
    color: $dull-white;
    text-align: center; 
  }

  section{
    display: flex; 
    flex-wrap: wrap; 


    div.view{ 
      // border: 2px solid red;
      flex-grow: 2; 
      background: $light-green;
      #map{
        // border: 2px solid black; 
      }
      ul.location{
        // border: 2px solid white;  
        margin: 0; 
        display: flex;
        list-style: none; 
        padding: 0; 
        li{
        flex: 1; 
        text-align: center; 
        background: $dark-green; 
        padding: $font-size*1.4; 
        border-right: 1px solid $dull-white; 
        &:last-child{
          border-right: 0; 
        }
        }  
        li.highlight{
        background: $dark-black; 
        } 
      }

    }


    div.form{
      background: $dark-grey; 
      padding: 10px;
      flex: 1; 

      span{ 
        padding: 10px 0;
        @include font-style; 
      }
      
      ul.social-icons{

        margin-top: 10px;  
        padding: 0; 
        display: flex; 
        list-style: none; 
        justify-content: space-around; 
        
        li{
          margin: 10px 0; 
          i{
            color: $dull-white;      
          }
        }
      }

      hr{
        @include horizontal-style; 
      }

      form{
        display: flex; 
        flex-direction: column;
        padding: 10px 0; 

        span{ 
          margin-bottom: 10px;  
        }

        input, textarea{
          @include form-style;  
        }

        button{
          outline: none; 
          width: 30%; 
          border-radius: 0px; 
          margin-bottom: 10px; 
          height: 30px; 
          background: $light-green; 
          border: none;           
        }

      }

      .contact{
        display: flex; 
        flex-direction: column; 
        i{
          font-size: $font-size *1.2; 
          margin-bottom: 5px; 
          &:before{
            margin-right: 5px; 
            font-size: $font-size*1.4; 
          }
        }
        }
    }
  }
}






